<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
  
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <File name = "FileAppender" fileName = "C:\\temp\\log.log">
    	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    
    <Async name = "AsyncAppender">
    	<AppenderRef ref="FileAppender"/>
    </Async>
    <Async name = "AsyncConsoleAppender">
    	<AppenderRef ref = "Console"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="AsyncAppender"/>
      <AppenderRef ref="AsyncConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>